{% extends 'kollegecliq/base.html' %}
{% load static %}
{% block title %}My Account | kollegecliq{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/style.min.css' %}">{% endblock %}
{% block fonticon %}<link rel="stylesheet" type="text/css" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">{% endblock %}
{% block content %} 
<main class="main">
	<div class="page-header">
		<div class="container d-flex flex-column align-items-center">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
						{% comment %} <li class="breadcrumb-item"><a href="category.html">college</a></li> {% endcomment %}
						<li class="breadcrumb-item active" aria-current="page">
							My Account
						</li>
					</ol>
				</div>
			</nav>

			<h1>My Account</h1>
		</div>
	</div>


</main><!-- End .main -->

<main class="main">
	<div class="container">
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="demo4.html"><i class="icon-home"></i></a></li>
				<li class="breadcrumb-item"><a href="#">My Account</a></li>
			</ol>
		</nav>

		<div class="row">
			<div class="sidebar-overlay"></div>
			<div class="sidebar-toggle custom-sidebar-toggle"><i class="fas fa-sliders-h"></i></div>
			{% if type == 'user' %}
				<aside class="sidebar-product col-lg-3 mobile-sidebar">
					<div class="sidebar-wrapper">

						<div class="sidebar widget widget-dashboard mb-lg-0 mb-3 col-lg-3 order-0">
							<ul class="nav nav-tabs list flex-column mb-0" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="dashboard-tab" data-toggle="tab"
										href="#dashboard" role="tab" aria-controls="dashboard"
										aria-selected="true">Dashboard</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="order-tab" data-toggle="tab" href="#edit" role="tab"
										aria-controls="order" aria-selected="true">My Profile</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="download-tab" data-toggle="tab" href="#Messages"
										role="tab" aria-controls="download" aria-selected="false">Messages</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="/wishlist/">Wishlist</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/logout/">Logout</a>
								</li>
							</ul>
						</div>
						<!-- End .widget -->
					</div>
				</aside>
				<div class="col-lg-9 order-lg-last order-1 tab-content">
					<div class="tab-pane fade show active" id="dashboard" role="tabpanel">
						<div class="dashboard-content">
							<p>
								Hello <strong class="text-dark">{{user.name}}</strong> (not
								<strong class="text-dark">{{user.name}}</strong>?
								<a href="/logout/" class="btn btn-link ">Log out</a>)
							</p>
	
							<div class="mb-4"></div>
	
							<div class="row row-lg">
								<div class="col-6 col-md-4">
									<div class="feature-box text-center pb-4">
										<a href="#order" class="link-to-tab"><i
												class="sicon-social-dropbox"></i></a>
										<div class="feature-box-content">
											<h3>Notification</h3>
										</div>
									</div>
								</div>
	
								<div class="col-6 col-md-4">
									<div class="feature-box text-center pb-4">
										<a href="#download" class="link-to-tab"><i
												class="sicon-cloud-download"></i></a>
										<div class=" feature-box-content">
											<h3>Messages</h3>
										</div>
									</div>
								</div>
	
								<div class="col-6 col-md-4">
									<div class="feature-box text-center pb-4">
										<a href="#edit" class="link-to-tab"><i class="icon-user-2"></i></a>
										<div class="feature-box-content p-0">
											<h3>ACCOUNT DETAILS</h3>
										</div>
									</div>
								</div>
	
								<div class="col-6 col-md-4">
									<div class="feature-box text-center pb-4">
										<a href="#" class="dropdown-toggle cart-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"><i class="sicon-heart"></i></a>
										<div class="feature-box-content">
											<h3>WISHLIST</h3>
										</div>
									</div>
								</div>
	
								<div class="col-6 col-md-4">
									<div class="feature-box text-center pb-4">
										<a href="/logout/"><i class="sicon-logout"></i></a>
										<div class="feature-box-content">
											<h3>LOGOUT</h3>
										</div>
									</div>
								</div>
							</div><!-- End .row -->
						</div>
					</div><!-- End .tab-pane -->	
					<div class="tab-pane fade" id="edit" role="tabpanel">
						<h3 class="account-sub-title d-none d-md-block mt-0 pt-1 ml-1"><i
								class="icon-user-2 align-middle mr-3 pr-1"></i>Account Details</h3>
						<div class="account-content">
							<form action="javascript:void(0);">
								{% csrf_token %}
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="user-name">Name <span class="required">*</span></label>
											<input type="text" id="user-name" class="form-control" placeholder="" value="{{user.name}}" name="name" required/>
										</div>
									</div>
								</div>
								<div class="form-group mb-2">
									<label for="user-username">Username <span class="required">*</span></label>
									<input type="text" class="form-control" id="user-username" name="username"
										placeholder="editor@gmail.com" value="{{user.username}}" required disabled/>
								</div>
								<div class="form-group mb-2">
									<label for="user-email">Email address <span class="required">*</span></label>
									<input type="email" class="form-control" id="user-email" name="email"
										placeholder="editor@gmail.com" value="{{user.email}}" />
								</div>
								<div class="form-group mb-2">
									<label for="user-phone">Phone <span class="required">*</span></label>
									<input type="text" class="form-control" id="user-phone" name="phone"
										placeholder="XXXXXXX806" value="{{user.phone}}" />
								</div>
								<div class="change-password">
									<h3 class="text-uppercase mb-2">Password Change</h3>
	
									<div class="form-group">
										<label for="acc-password">Current Password (leave blank to leave
											unchanged)</label>
										<input type="password" class="form-control" id="acc-password"
											name="current-password" />
									</div>
	
									<div class="form-group">
										<label for="acc-password">New Password (leave blank to leave
											unchanged)</label>
										<input type="password" class="form-control" id="password1"
											name="password1" />
									</div>
	
									<div class="form-group">
										<label for="acc-password">Confirm New Password</label>
										<input type="password" class="form-control" id="password2"
											name="password2" />
									</div>
								</div>
								<div class="form-footer my-3 mb-0">
									<button type="submit" onclick="submitEditProfile()" class="btn btn-dark mr-0">
										Save changes
									</button>
								</div>
								<div class="my-3 mb-0">
									<p><span id="profile-error"></span></p>
								</div>
							</form>
						</div>
					</div><!-- End .tab-pane -->
					
				</div>
			{% endif %}
			{% comment %} <aside class="sidebar-product col-lg-3 mobile-sidebar">
				<div class="sidebar-wrapper">

					<div class="sidebar widget widget-dashboard mb-lg-0 mb-3 col-lg-3 order-0">
						<ul class="nav nav-tabs list flex-column mb-0" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="dashboard-tab" data-toggle="tab"
									href="#dashboard" role="tab" aria-controls="dashboard"
									aria-selected="true">Dashboard</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="order-tab" data-toggle="tab" href="#overview" role="tab"
									aria-controls="order" aria-selected="true">Overviews</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="download-tab" data-toggle="tab" href="#courses-fees"
									role="tab" aria-controls="download" aria-selected="false">Courses & Fees</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="address-tab" data-toggle="tab" href="#address"
									role="tab" aria-controls="address" aria-selected="false">Reviews</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="edit-tab" data-toggle="tab" href="#placements"
									role="tab" aria-controls="edit" aria-selected="false">Placements
									details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="shop-address-tab" data-toggle="tab"
									href="#college-facility" role="tab" aria-controls="edit"
									aria-selected="false">Campus/Infrastructure/Facilities</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="wishlist.html">Q&A</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="wishlist.html"> Scholarships and Funding</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="wishlist.html">News</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="login.html">Logout</a>
							</li>
						</ul>
					</div>
					<!-- End .widget -->
				</div>
			</aside> {% endcomment %}
			<!-- End .col-md-3 -->

			{% comment %} <div class="col-lg-9 order-lg-last order-1 tab-content">
				<div class="tab-pane fade show active" id="dashboard" role="tabpanel">
					<div class="dashboard-content">
						<p>
							Hello <strong class="text-dark">{{user.name}}</strong> (not
							<strong class="text-dark">{{user.name}}</strong>?
							<a href="/logout/" class="btn btn-link ">Log out</a>)
						</p>

						<div class="mb-4"></div>

						<div class="row row-lg">
							<div class="col-6 col-md-4">
								<div class="feature-box text-center pb-4">
									<a href="#order" class="link-to-tab"><i
											class="sicon-social-dropbox"></i></a>
									<div class="feature-box-content">
										<h3>Reviews</h3>
									</div>
								</div>
							</div>

							<div class="col-6 col-md-4">
								<div class="feature-box text-center pb-4">
									<a href="#download" class="link-to-tab"><i
											class="sicon-cloud-download"></i></a>
									<div class=" feature-box-content">
										<h3>Messages</h3>
									</div>
								</div>
							</div>

							<!-- <div class="col-6 col-md-4">
								<div class="feature-box text-center pb-4">
									<a href="#address" class="link-to-tab"><i
											class="sicon-location-pin"></i></a>
									<div class="feature-box-content">
										<h3>ADDRESSES</h3>
									</div>
								</div>
							</div> -->

							<div class="col-6 col-md-4">
								<div class="feature-box text-center pb-4">
									<a href="#" class="link-to-tab"><i class="icon-user-2"></i></a>
									<div class="feature-box-content p-0">
										<h3>ACCOUNT DETAILS</h3>
									</div>
								</div>
							</div>

							<div class="col-6 col-md-4">
								<div class="feature-box text-center pb-4">
									<a href="#" class="dropdown-toggle cart-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"><i class="sicon-heart"></i></a>
									<div class="feature-box-content">
										<h3>WISHLIST</h3>
									</div>
								</div>
							</div>

							<div class="col-6 col-md-4">
								<div class="feature-box text-center pb-4">
									<a href="/logout/"><i class="sicon-logout"></i></a>
									<div class="feature-box-content">
										<h3>LOGOUT</h3>
									</div>
								</div>
							</div>
						</div><!-- End .row -->
					</div>
				</div><!-- End .tab-pane -->

				<div class="tab-pane fade" id="overview" role="tabpanel">
					<div class="address account-content mt-0 pt-2">
						<h4 class="title mb-3">Overview</h4>

						<form class="mb-2" action="#">
							<div class="form-group">
								<label>College info </label>
								<textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="form-group">
								<label>Affiliations </label>
								<input type="text" class="form-control">
								<small>Use comma to separate(,).</small>
							</div>
							<div class="form-group">
								<label>Year of Incorporation </label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group d-flex">
								<h4 class="title mb-3">Achievements</h4>
								<span onclick="toggleAchievement()" class="achievements-icon">
									<i class="fas fa-plus fa-2x"></i>
								</span>
							</div>
							<div id="achievement-show">
								<div class="col-12">
									<div class="alert alert-warning alert-dismissible">
										<span><strong>Added!</strong> Python Certifications.</span>
									</div>
								</div>
								<div class="form-group">
									<label>Name* </label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group">
									<label>Issuing organization* </label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group">
									<label>Issue date* </label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group">
									<label>Url(Optional)* </label>
									<input type="text" class="form-control">
								</div>
								<input type="submit" class="btn btn-primary shadow-none"
									style="border-radius: 25px;" value="Add">

							</div>
							<div class="form-footer mb-0">
								<div class="form-footer-right">
									<button type="submit" class="btn btn-dark py-4">
										Submit
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<!--Courses-fees-->
				<div class="tab-pane fade" id="courses-fees" role="tabpanel">
					<div class="address account-content mt-0 pt-2">
						<h4 class="title mb-3">Courses & Fees</h4>

						<form class="mb-2" action="#">
							<div class="col-12">
								<div class="alert alert-warning alert-dismissible">
									<span><strong>Added!</strong> Python Certifications.</span>
								</div>
							</div>
							<div class="select-custom">
								<label>Select Course <span class="required">*</span></label>
								<select name="orderby" class="form-control">
									<option value="" selected="selected">B-Tech
									</option>
									<option value="1">B-Com</option>
									<option value="2">BBA</option>
									<option value="3">MBA Faso</option>
								</select>
							</div>
							<div class="form-group">
								<label>Admission Process<span class="required">*</span></label>
								<textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
							</div>
							<h4 class="title mb-3">Eligibility*</h4>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>10th <span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>12th<span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Graduation(%)<span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Course duration<span class="required">*</span></label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label>Total Tution Fees<span class="required">*</span></label>
								<input type="text" class="form-control">
							</div>
							<div class="form-footer mb-0">
								<div class="form-footer-right">
									<button type="submit" class="btn btn-dark py-4">
										Submit
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<!--Placements-->

				<div class="tab-pane fade" id="placements" role="tabpanel">
					<div class="address account-content mt-0 pt-2">
						<h4 class="title mb-3">Placements</h4>

						<form class="mb-2" action="#">
							<div class="col-12">
								<div class="alert alert-warning alert-dismissible">
									<span><strong>Added!</strong> Python Certifications.</span>
								</div>
							</div>
							<div class="select-custom">
								<label>Select Course <span class="required">*</span></label>
								<select name="orderby" class="form-control">
									<option value="" selected="selected">B-Tech
									</option>
									<option value="1">B-Com</option>
									<option value="2">BBA</option>
									<option value="3">MBA Faso</option>
								</select>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Total students placed <span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Total Recruiters<span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Total Offers made<span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Average package offered<span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Top Recruiters<span class="required">*</span></label>
								<input type="text" class="form-control">
							</div>
							<div class="form-footer mb-0">
								<div class="form-footer-right">
									<button type="submit" class="btn btn-dark py-4">
										Submit
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<!-- <div class="tab-pane fade" id="order" role="tabpanel">
					<div class="order-content">
						<h3 class="account-sub-title d-none d-md-block"><i
								class="sicon-social-dropbox align-middle mr-3"></i>Orders</h3>
						<div class="order-table-container text-center">
							<table class="table table-order text-left">
								<thead>
									<tr>
										<th class="order-id">ORDER</th>
										<th class="order-date">DATE</th>
										<th class="order-status">STATUS</th>
										<th class="order-price">TOTAL</th>
										<th class="order-action">ACTIONS</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center p-0" colspan="5">
											<p class="mb-5 mt-5">
												No Order has been made yet.
											</p>
										</td>
									</tr>
								</tbody>
							</table>
							<hr class="mt-0 mb-3 pb-2" />

							<a href="category.html" class="btn btn-dark">Go Shop</a>
						</div>
					</div>
				</div><--End .tab-pane -->

				<!-- End .tab-pane -->

				<div class="tab-pane fade" id="address" role="tabpanel">
					<h3 class="account-sub-title d-none d-md-block mb-1"><i
							class="sicon-location-pin align-middle mr-3"></i>Addresses</h3>
					<div class="addresses-content">
						<p class="mb-4">
							The following addresses will be used on the checkout page by
							default.
						</p>

						<div class="row">
							<div class="address col-md-6">
								<div class="heading d-flex">
									<h4 class="text-dark mb-0">Billing address</h4>
								</div>

								<div class="address-box">
									You have not set up this type of address yet.
								</div>

								<a href="#billing" class="btn btn-default address-action link-to-tab">Add
									Address</a>
							</div>

							<div class="address col-md-6 mt-5 mt-md-0">
								<div class="heading d-flex">
									<h4 class="text-dark mb-0">
										Shipping address
									</h4>
								</div>

								<div class="address-box">
									You have not set up this type of address yet.
								</div>

								<a href="#shipping" class="btn btn-default address-action link-to-tab">Add
									Address</a>
							</div>
						</div>
					</div>
				</div><!-- End .tab-pane -->

				<div class="tab-pane fade" id="edit" role="tabpanel">
					<h3 class="account-sub-title d-none d-md-block mt-0 pt-1 ml-1"><i
							class="icon-user-2 align-middle mr-3 pr-1"></i>Account Details</h3>
					<div class="account-content">
						<form action="#">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="acc-name">First name <span class="required">*</span></label>
										<input type="text" class="form-control" placeholder="Editor"
											id="acc-name" name="acc-name" required />
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="acc-lastname">Last name <span
												class="required">*</span></label>
										<input type="text" class="form-control" id="acc-lastname"
											name="acc-lastname" required />
									</div>
								</div>
							</div>

							<div class="form-group mb-2">
								<label for="acc-text">Display name <span class="required">*</span></label>
								<input type="text" class="form-control" id="acc-text" name="acc-text"
									placeholder="Editor" required />
								<p>This will be how your name will be displayed in the account section and
									in
									reviews</p>
							</div>


							<div class="form-group mb-4">
								<label for="acc-email">Email address <span class="required">*</span></label>
								<input type="email" class="form-control" id="acc-email" name="acc-email"
									placeholder="editor@gmail.com" required />
							</div>

							<div class="change-password">
								<h3 class="text-uppercase mb-2">Password Change</h3>

								<div class="form-group">
									<label for="acc-password">Current Password (leave blank to leave
										unchanged)</label>
									<input type="password" class="form-control" id="acc-password"
										name="acc-password" />
								</div>

								<div class="form-group">
									<label for="acc-password">New Password (leave blank to leave
										unchanged)</label>
									<input type="password" class="form-control" id="acc-new-password"
										name="acc-new-password" />
								</div>

								<div class="form-group">
									<label for="acc-password">Confirm New Password</label>
									<input type="password" class="form-control" id="acc-confirm-password"
										name="acc-confirm-password" />
								</div>
							</div>

							<div class="form-footer mt-3 mb-0">
								<button type="submit" class="btn btn-dark mr-0">
									Save changes
								</button>
							</div>
						</form>
					</div>
				</div><!-- End .tab-pane -->

				<div class="tab-pane fade" id="billing" role="tabpanel">
					<div class="address account-content mt-0 pt-2">
						<h4 class="title">Billing address</h4>

						<form class="mb-2" action="#">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>First name <span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label>Last name <span class="required">*</span></label>
										<input type="text" class="form-control" required />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label>Company </label>
								<input type="text" class="form-control">
							</div>

							<div class="select-custom">
								<label>Country / Region <span class="required">*</span></label>
								<select name="orderby" class="form-control">
									<option value="" selected="selected">British Indian Ocean Territory
									</option>
									<option value="1">Brunei</option>
									<option value="2">Bulgaria</option>
									<option value="3">Burkina Faso</option>
									<option value="4">Burundi</option>
									<option value="5">Cameroon</option>
								</select>
							</div>

							<div class="form-group">
								<label>Street address <span class="required">*</span></label>
								<input type="text" class="form-control"
									placeholder="House number and street name" required />
								<input type="text" class="form-control"
									placeholder="Apartment, suite, unit, etc. (optional)" required />
							</div>

							<div class="form-group">
								<label>Town / City <span class="required">*</span></label>
								<input type="text" class="form-control" required />
							</div>

							<div class="form-group">
								<label>State / Country <span class="required">*</span></label>
								<input type="text" class="form-control" required />
							</div>

							<div class="form-group">
								<label>Postcode / ZIP <span class="required">*</span></label>
								<input type="text" class="form-control" required />
							</div>

							<div class="form-group mb-3">
								<label>Phone <span class="required">*</span></label>
								<input type="number" class="form-control" required />
							</div>

							<div class="form-group mb-3">
								<label>Email address <span class="required">*</span></label>
								<input type="email" class="form-control" placeholder="editor@gmail.com"
									required />
							</div>

							<div class="form-footer mb-0">
								<div class="form-footer-right">
									<button type="submit" class="btn btn-dark py-4">
										Save Address
									</button>
								</div>
							</div>
						</form>
					</div>
				</div><!-- End .tab-pane -->

				<div class="tab-pane fade" id="college-facility" role="tabpanel">
					<div class="address account-content mt-0 pt-2">
						<h4 class="title mb-3">Infrastructure/Facilities</h4>

						<form class="mb-2" action="#">

							<div class="form-group">
								<label>Library </label>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio1" value="option1">
									<label class="form-check-label mt-1" for="inlineRadio1">NO</label>
								</div>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio2" value="option2">
									<label class="form-check-label mt-1" for="inlineRadio2">YES</label>
								</div>
								<textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="form-group">
								<label>Labs </label>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio1" value="option1">
									<label class="form-check-label mt-1" for="inlineRadio1">NO</label>
								</div>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio2" value="option2">
									<label class="form-check-label mt-1" for="inlineRadio2">YES</label>
								</div>
								<textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="form-group">
								<label>Hospital/Medical facilities </label>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio1" value="option1">
									<label class="form-check-label mt-1" for="inlineRadio1">NO</label>
								</div>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio2" value="option2">
									<label class="form-check-label mt-1" for="inlineRadio2">YES</label>
								</div>
								<textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="form-group">
								<label>Wifi Campus</label>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio1" value="option1">
									<label class="form-check-label mt-1" for="inlineRadio1">NO</label>
								</div>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio2" value="option2">
									<label class="form-check-label mt-1" for="inlineRadio2">YES</label>
								</div>
							</div>
							<div class="form-group">
								<label>Auditorium </label>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio1" value="option1">
									<label class="form-check-label mt-1" for="inlineRadio1">NO</label>
								</div>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio2" value="option2">
									<label class="form-check-label mt-1" for="inlineRadio2">YES</label>
								</div>
								<textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="form-group">
								<label>Sports Complex </label>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio1" value="option1">
									<label class="form-check-label mt-1" for="inlineRadio1">NO</label>
								</div>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio2" value="option2">
									<label class="form-check-label mt-1" for="inlineRadio2">YES</label>
								</div>
								<textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="form-group">
								<label>Hostel </label>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio1" value="option1">
									<label class="form-check-label mt-1" for="inlineRadio1">NO</label>
								</div>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio2" value="option2">
									<label class="form-check-label mt-1" for="inlineRadio2">YES</label>
								</div>
								<textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="form-group">
								<label>Other facilities(Optional)</label>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio1" value="option1">
									<label class="form-check-label mt-1" for="inlineRadio1">NO</label>
								</div>
								<div class="form-check form-check-inline float-right">
									<input class="form-check-input" type="radio" name="inlineRadioOptions"
										id="inlineRadio2" value="option2">
									<label class="form-check-label mt-1" for="inlineRadio2">YES</label>
								</div>
								<textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="form-footer mb-0">
								<div class="form-footer-right">
									<button type="submit" class="btn btn-dark py-4">
										Submit
									</button>
								</div>
							</div>
						</form>
					</div>
				</div><!-- End .tab-pane -->
			</div> {% endcomment %}
			<!-- End .col-lg-9 -->
		</div>
		<!-- End .row -->

		<hr class="mt-0 m-b-5" />


		<!-- End .row -->
	</div>
	<!-- End .container -->
</main>
{% endblock %} 