{% extends 'kollegecliq/base.html' %}
{% load static %}
{% block title %}Register User | kollegecliq{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/style.min.css' %}">{% endblock %}
{% block content %} 
	<main class="main">
		<div class="page-header">
			<div class="container d-flex flex-column align-items-center">
				<nav aria-label="breadcrumb" class="breadcrumb-nav">
					<div class="container">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">
								Register User
							</li>
						</ol>
					</div>
				</nav>

				{% comment %} <h1>Register</h1> {% endcomment %}
			</div>
		</div>

		<div class="container login-container">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<div class="row">
						<div class="col-md-6 mx-auto">
							<div class="heading mb-1">
								<h2 class="title">Register</h2>
							</div>

							<form action="/Register-user/" method="post" id="registeruser" onsubmit="return validateForm()">
								{% csrf_token %}
								<label for="login-email">
									Phone or email address
									<span class="required">*</span>
								</label>
								<input type="text" class="form-input form-wide" id="username" name="username" autocomplete="off" required/>
								<label for="login-email">
									Your Name
									<span class="required">*</span>
								</label>
								<input type="text" class="form-input form-wide" id="name" name="name" autocomplete="off" required/>								
								<div class="form-group">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="create-account" onclick="hideShowPassword()"/>
										<label class="custom-control-label" data-toggle="collapse" data-target="#collapsePass" aria-controls="collapsePass" for="create-account">Want password during login ?</label>
									</div>
								</div>
								<div id="collapsePass" class="collapse">
									<label for="login-password">
										Password
										<span class="required">*</span>
									</label>
									<input type="password" class="form-input form-wide" id="login-password1" name="login-password1" autocomplete="off"/>
									<label for="login-password">
										Password(Confirm)
										<span class="required">*</span>
									</label>
									<input type="password" class="form-input form-wide" id="login-password2" name="login-password2" autocomplete="off"/>
								</div> 
								
								<a href="/login/"><b>Click here to login</b></a>
								{% if message %}
								<div id="django-error" class="alert alert-primary d-flex align-items-center mt-1" role="alert">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
									  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
									</svg>
									<div>
										<b>&nbsp;{{ message }}</b>
									</div>
								</div>
								  {% endif %}
								<button type="submit" class="btn btn-dark btn-md w-100 mt-1">
									Verify
								</button>
								<div class="text-center mt-2">
									<span>Get your college register here.</span><br>
									<a href="/Register-college/"
									class="forget-password text-dark form-footer-right">Register</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main><!-- End .main -->

{% endblock %}
{% block javascript %}
{% endblock %}