{% extends 'kollegecliq/base.html' %}
{% load static %}
{% block title %}Register College | kollegecliq{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/style.min.css' %}">{% endblock %}
{% block content %} 
	<main class="main">
		<div class="page-header">
			<div class="container d-flex flex-column align-items-center">
				<nav aria-label="breadcrumb" class="breadcrumb-nav">
					<div class="container">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="demo4.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">
								Register College
							</li>
						</ol>
					</div>
				</nav>

				{% comment %} <h1>Register</h1> {% endcomment %}
			</div>
		</div>

		<div class="container login-container">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<div class="row">
						<div class="col-md-6 mx-auto">
							<div class="heading mb-1">
								<h2 class="title">Register</h2>
							</div>

							<form action="#">
								<label for="register-email">
									College Name
									<span class="required">*</span>
								</label>
								<input type="text" class="form-control form-wide" id="register-name" required />
								<label for="register-email">
									Email address
									<span class="required">*</span>
								</label>
								<input type="email" class="form-control form-wide" id="register-email" required />
								<label for="register-email">
									Ph. Number
									<span class="required">*</span>
								</label>
								<input type="text" class="form-control form-wide" id="register-number" required />
								<div class="select-custom">
									<label>Select State <span class="required">*</span></label>
									<select name="orderby" class="form-control">
										<option value="" selected="selected">B-Tech
										</option>
										<option value="1">Bihar</option>
										<option value="2">Uttrakhand</option>
										<option value="3">Uttar Pradesh</option>
									</select>
								</div>
								<div class="select-custom">
									<label>Select City/Town <span class="required">*</span></label>
									<select name="orderby" class="form-control">
										<option value="" selected="selected">B-Tech
										</option>
										<option value="1">B-Com</option>
										<option value="2">BBA</option>
										<option value="3">MBA Faso</option>
									</select>
								</div>
								<label for="register-password">
									Password
									<span class="required">*</span>
								</label>
								<input type="password" class="form-control form-wide" id="register-password"
									required />
								<a href="/login/"><b>Click here to login</b></a>
								<div class="form-footer mb-2">
									<button type="submit" class="btn btn-dark btn-md w-100 mr-0">
										Register
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main><!-- End .main -->

{% endblock %}